<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.raqun.movies.shows.details.presentation">

    <application>
        <activity
                android:name=".TvShowDetailsActivity"
                android:theme="@style/AppThemeNoActionBar" />
    </application>

</manifest>
